body {
    color: #131313;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
}

.scroll-snap-container {
    position: relative;
    padding-top: 4rem;
}

.scroll-snap-wrapper {
    column-gap: 3rem;
    display: flex;
    list-style: none;
    margin: 0;
    overflow-x: scroll;
    padding: 0 3rem;
    position: relative;
    scroll-snap-type: x mandatory;
    scroll-padding: 3rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-snap-wrapper::-webkit-scrollbar {
    display: none;
}

.scroll-snap-wrapper li {
    align-items: center;
    aspect-ratio: 1 / 1;
    background: gainsboro;
    border-radius: 1rem;
    display: flex;
    min-width: 18.75rem;
    justify-content: center;
    width: 100%;
    scroll-snap-align: start;
}